*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	width: 100%;
	height: 62px;
	background-color: #40464f;
	align-content: space-around;
	justify-content: space-between;

}

footer {
	width: 100%;
  	height: 110px;

  	background-color: #40464f;
  	position: absolute;
  	bottom: 0;
}


.m{
	display: flex;
	margin-left: 400px;
	
	justify-content: space-between;
	
}

.head_content{
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: space-around;
}

.bebra {
	color: #fff;
	font-size: 18px;
	width: 150px;
	font-family: 'Roboto', sans-serif;

}

.logo span {
	position: relative;
	color: white;
	font-size: 18px;
	top: -14px;
	font-family: 'Playfair Display', serif;

	
}
.logo{
	margin: 10px;
}