*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}

header {
	display: flex;
	width: 100%;
	height: 62px;
	background-color: #40464f;
	align-content: space-around;
	justify-content: space-between;

}

footer {
	width: 100%;
  	height: 110px;

  	background-color: #40464f;
  	position: absolute;
  	bottom: 0;
}


.m{
	display: flex;
	margin-left: 350px;
	border: 1px solid #fff;
	justify-content: space-between;
	align-content: center;
}

.head_content{
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: space-around;
}

.bebra {
	color: #fff;
	font-size: 18px;
	margin-left: 80px;
	font-family: 'Roboto', sans-serif;
	transition: width 0.3s ease-out;
}
.bebra:after{
	}
.bebra:hover{
	color: #e8b32e;
	
}
.bebra p:hover:after{
	width: 100%;
}

.logo span {
	position: relative;
	color: white;
	font-size: 18px;
	top: -14px;
	left: 8px;
	font-family: 'Playfair Display', serif;

	
}
.logo{
	margin: 10px;
}
.bebra p:after{
	display: block;
	position: relative;
	left: 0; 
	width: 0;
	height: 2px; 
	background-color: #e8b32e;
	content: "";
	transition: width 0.3s ease-out;

}
